@tailwind base;
@tailwind components;
@tailwind utilities;

   @keyframes ball {
      0% { top: 34%; left: 52%; }
      8.3% { top: 52%; left: 90%; }
      24.9% { top: 85%; left: 8%; }
      30% { top: 98%; left: 27%; }
      41.5% { top: 70%; left: 90%; }
      58.1% { top: 55%; left: 8%; }
      74.7% { top: 13%; left: 90%; }
      79% { top: 1%; left: 70%; }
      91.3% { top: 22%; left: 8%; }
      100% { top: 34%; left: 52%; }
    }

    @keyframes ping {
      0%, 5% { top: 10%; }
      9% { top: 24%; }
      13% { top: 17%; }
      24.9% { top: 82%; }
      47% { top: 37%; }
      52% { top: 41%; }
      56% { top: 64%; }
      58.1% { top: 54%; }
      70% { top: 74%; }
      84% { top: 12%; }
      91.3% { top: 18%; }
      100% { top: 10%; }
    }

    @keyframes pong {
      0% { top: 90%; }
      8.3% { top: 51%; }
      20% { top: 60%; }
      25% { top: 34%; }
      41.5% { top: 68%; }
      46% { top: 36%; }
      52% { top: 18%; }
      58.1% { top: 53%; }
      66% { top: 14%; }
      70% { top: 20%; }
      74.7% { top: 10%; }
      91.3% { top: 10%; }
      100% { top: 90%; }
    }

@layer utilities {
  .btn-lock svg {
    @apply fill-none transform-gpu;
  }

  .btn-lock svg .bling {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-dasharray: 3;
    stroke-dashoffset: 15;
    transition: all 0.3s ease;
  }

  .btn-lock svg .lock {
    stroke: #fff;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 36;
    transition: all 0.4s ease;
  }

  .btn-lock svg .lockb {
    fill: #fff;
    fill-rule: evenodd;
    clip-rule: evenodd;
    transform: rotate(8deg);
    transform-origin: 14px 20px;
    transition: all 0.2s ease;
  }

  /* Checked state */
  input[type="checkbox"].peer:checked + label svg .bling {
    animation: bling6132 0.3s linear forwards;
    animation-delay: 0.2s;
  }

  input[type="checkbox"].peer:checked + label svg .lock {
    stroke-dasharray: 48;
    animation: locked 0.3s linear forwards;
  }

  input[type="checkbox"].peer:checked + label svg .lockb {
    transform: rotate(0);
    transform-origin: 14px 22px;
  }

  @keyframes bling6132 {
    50% {
      stroke-dasharray: 3;
      stroke-dashoffset: 12;
    }
    100% {
      stroke-dasharray: 3;
      stroke-dashoffset: 9;
    }
  }

  @keyframes locked {
    50% {
      transform: translateY(1px);
    }
  }
}