services:
  auth:
    build:
      context: ./backend/services/auth
    container_name: auth
    env_file:
      - ./backend/services/auth/.env
    expose:
      - 3001
    volumes:
      - ./backend/data/auth:/usr/src/app/data
    networks:
      - trascendence

  chat:
    build:
      context: ./backend/services/chat
    container_name: chat
    env_file:
      - ./backend/services/chat/.env
    expose:
      - 3002
    volumes:
      - ./backend/data/chat:/usr/src/app/data
    networks:
      - trascendence

  notification:
    build:
      context: ./backend/services/notification
    container_name: notification
    env_file:
      - ./backend/services/notification/.env
    expose:
      - 3003
    volumes:
      - ./backend/data/notification:/usr/src/app/data
    networks:
      - trascendence

  pong:
    build:
      context: ./backend/services/pong
    container_name: pong
    env_file:
      - ./backend/services/pong/.env
    expose:
      - 3004
    volumes:
      - ./backend/data/pong:/usr/src/app/data
    networks:
      - trascendence

  tris:
    build:
      context: ./backend/services/tris
    container_name: tris
    env_file:
      - ./backend/services/tris/.env
    expose:
      - 3005
    volumes:
      - ./backend/data/tris:/usr/src/app/data
    networks:
      - trascendence
    
  users:
    build:
      context: ./backend/services/users
    container_name: users
    env_file:
      - ./backend/services/users/.env
    expose:
      - 3006
    volumes:
      - ./backend/data/users:/usr/src/app/data
    networks:
      - trascendence

  gateway:
    build:
      context: ./backend/gateway
    container_name: gateway
    ports:
      - "3000:3000"
    env_file:
      - ./backend/gateway/.env
    volumes:
      - ./certs:/usr/src/certs/certs:ro
    depends_on:
      - auth
      - chat
      - notification
      - pong
      - tris
      - users
    networks:
      - trascendence

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: "http://localhost:3000"
    environment:
      - VITE_API_URL=http://localhost:3000
    container_name: frontend
    ports:
      - 4000:3000
    depends_on:
      - gateway
    networks:
      - trascendence

networks:
  trascendence:
    driver: bridge
    name: trascendence
    # external: true